@charset "UTF-8";
/**reset**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
html body {
  overflow-x: hidden;
}

header {
  /* Fondo gradiente para el encabezado */
  background: rgb(36, 6, 68);
  background: linear-gradient(90deg, rgb(36, 6, 68) 4%, rgb(186, 65, 182) 36%, rgb(186, 65, 182) 44%, rgb(59, 30, 209) 69%, rgb(51, 23, 127) 81%, rgb(36, 6, 68) 89%);
  /* Altura del encabezado */
  height: 23vh;
  /* Posicionamiento fijo en la parte superior */
  position: sticky;
  padding: 0;
  z-index: 1000;
  top: 0;
  /* Flexbox para alinear los elementos */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
header nav {
  /* Estilos para la imagen del logo en la barra de navegación */
}
header nav li {
  display: inline-block;
  margin-bottom: -50px;
}
header nav img {
  border-radius: 100%;
  width: 155px;
  height: 155px;
}

/** Estilos para los títulos **/
h1, h2, h3, h4, h5 {
  font-family: "Kanit", sans-serif;
}

/** Estilos para los enlaces **/
a {
  text-decoration: none;
  color: #000000;
}

/** Estilos para párrafos **/
p {
  line-height: 1.5;
  font-family: "Oswald", sans-serif;
}

.nav-link {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-family: "Kanit", sans-serif;
  margin: 8px;
  transition: 1ms;
}

.links__dePaginas:hover {
  background-color: #ffffff;
  padding: 4px;
  border-radius: 10px;
}

.logosYcontactosNav {
  display: flex;
  /* Cambio de block a flex */
  justify-content: center;
  /* Centra horizontalmente los elementos */
  align-items: center;
  /* Centra verticalmente los elementos */
  justify-content: space-between;
  margin-left: -400px;
  margin-right: -400px;
}

/** Estilos para la imagen del logo de "Iniciar sesión" **/
.logoIniciar img {
  width: 50px;
  height: 50px;
  max-width: 100px;
}

.contactos img {
  width: 50px;
  height: 50px;
}

main {
  /* Fondo gradiente*/
  background: rgb(21, 15, 32);
  background: linear-gradient(90deg, rgb(21, 15, 32) 12%, rgb(73, 46, 108) 33%, rgb(52, 33, 77) 54%, rgb(21, 15, 32) 90%);
  color: #ffffff;
}

/* Estilos de la sección hero */
.hero {
  /* Configuración del tamaño y comportamiento del fondo */
  width: 100%;
  height: 105vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  /* Alineación del contenido */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Estilo para aumentar el tamaño de las flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

#carouselExampleDark {
  max-height: 560px;
  width: 100%;
  /* Establece la altura máxima del carrusel */
}

/* Estilos específicos para los títulos dentro del carrusel */
.hero h1 {
  padding: 70px;
  font-size: 100px;
  font-weight: 700;
}
.hero p {
  font-size: 30px;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
}

/*seccion 2 para presentacion de productos*/
.section2 {
  /* Configuración del fondo y visualización */
  background-image: url(../images/laptop-1-laptops.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto cover;
  height: auto;
  /* Márgenes superior e inferior */
  margin-top: 20vh;
  margin-bottom: 25vh;
  /* Visualización y transición */
  display: block;
  filter: drop-shadow(6px 8px 15px #000000);
}

/*textos sobre imagen*/
.textoSobreImagen {
  text-align: center;
}
.textoSobreImagen h2 {
  margin-left: 37rem;
  line-height: 2;
  font-size: 39px;
  font-weight: 700;
  margin-top: 10rem;
  filter: drop-shadow(6px 8px 15px #000000);
  color: #ffffff;
}
.textoSobreImagen p {
  margin-right: 44rem;
  white-space: pre-line;
  line-height: 3;
  font-size: 50px;
  font-weight: 700;
  filter: drop-shadow(6px 8px 15px #000000);
  color: #ffffff;
}

/*presentacion de productos*/
/* Estilos para las tarjetas de productos */
.presentacionProductos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Dimensiones y configuración del fondo */
.tarjeta1 {
  width: 425px;
  height: 600px;
  background-image: url(../images/gabiente-para-section3.png);
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  filter: drop-shadow(6px 8px 14px #000000);
  transition: transform 0.2s;
  margin-bottom: 50px;
}
.tarjeta1 a {
  color: #ffffff;
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
.tarjeta1:hover {
  transform: scale(1.1);
}

/* Efecto de aumento al pasar el mouse sobre las tarjetas */
.tarjeta2 {
  width: 350px;
  height: 525px;
  background-image: url(../images/laptop-para-galeria.png);
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  filter: drop-shadow(6px 8px 14px #000000);
  transition: transform 0.2s;
}
.tarjeta2 a {
  color: #ffffff;
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
.tarjeta2:hover {
  transform: scale(1.1);
}

/* Efecto de aumento al pasar el mouse sobre las tarjetas */
.tarjeta3 {
  width: 358px;
  height: 537px;
  background-image: url(../images/imagen-para-accecsorios-section3.png);
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
  filter: drop-shadow(6px 8px 14px #000000);
  /* Sombra para la tarjeta */
  transition: transform 0.2s;
}
.tarjeta3 a {
  color: #ffffff;
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}
.tarjeta3:hover {
  transform: scale(1.1);
}

/* Efecto de aumento al pasar el mouse sobre las tarjetas */
/* Estilos del contenido dentro de las tarjetas */
.contenido {
  padding: 20px;
  filter: drop-shadow(6px 8px 14px #000000);
  /* Sombra para el texto */
  text-align: center;
  font-size: 25px;
}

/*/ Dimensiones y configuración del fondo */
/** edicion nosotrospaginassec**/
/**main section**/
/*herosection*/
/* Estilos para la sección hero de Nosotros */
.nosotrosHeroSection {
  background-image: url(../images/imagen-nosotros.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: drop-shadow(1px 1px 100px #000000);
  /* Estilos para el título principal en la sección hero */
  /* Estilos para el subtítulo en la sección hero */
}
.nosotrosHeroSection h1 {
  font-size: 100px;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  margin-left: 70px;
  margin-bottom: -150px;
}
.nosotrosHeroSection h2 {
  font-size: 100px;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  margin-left: 50px;
  padding: 200px;
}

/* Estilos para la sección Acerca de Nosotros */
.acercaDeNosotros {
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acercaDeNosotros p {
  font-size: 20px;
  font-weight: 300px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  margin-left: 20px;
  border: 4px #ffffff solid;
  padding: 7px;
}

/* Estilos para el párrafo en la sección Acerca de Nosotros */
/*mas informacion sobre kiire section 3*/
/* Estilos para la sección Más sobre Nosotros */
.masSobreNosotros {
  padding: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  align-items: center;
  /* Estilos para la imagen en la sección Más sobre Nosotros */
  /* Estilos para el párrafo en la sección Más sobre Nosotros */
}
.masSobreNosotros img {
  order: 2;
}
.masSobreNosotros p {
  font-size: 20px;
  font-weight: 300px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  margin-left: 20px;
  border: 4px #ffffff solid;
  margin: 15px;
  padding: 3px;
}

/*section 4:ultima section. simulacion de locales de kiire*/
.map {
  /* Estilos para el título en la sección del mapa */
  /* Estilos para el iframe del mapa */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.map h2 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 800;
  border: solid 4px #ffffff;
  padding: 30px;
}
.map iframe {
  margin-bottom: 40px;
  height: 550px;
  width: 750px;
  border: #000000 5px;
}

/*edicion de pagina secundaria accesorios,gaming y laptops*/
/*productos auriculares tarjetas de compra*/
/* Estilos para la sección de presentación de accesorios e implementacion de grid */
.presentacionDeAccesoriosHero {
  width: 90%;
  font-size: 2rem;
  text-align: center;
  margin: 0% auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-right: 7vw;
}

/*implementacion de grid*/
.presentacionDeAccesoriosHero__gaming {
  width: 90%;
  font-size: 2rem;
  text-align: center;
  margin: 0% auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

/* Estilos para la primera caja de la presentación de accesorios */
.caja-primer-item {
  grid-column-start: 1;
  /*le indico la linea donde inicia*/
  grid-column-end: 3;
  /*le indico la linea donde termina*/
}
.caja-primer-item h2 {
  position: relative;
  bottom: 33rem;
  color: #ffffff;
  font-size: 100px;
  font-weight: 700;
}

/* Estilos para el texto en la primera caja de la presentación de accesorios */
/* Estilos para las cajas de la presentación de accesorios */
.caja h2 {
  position: relative;
  bottom: 200px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}

/* Estilos para las imágenes en las cajas */
.caja-primer-item img {
  filter: drop-shadow(4px 5px 12px #000000);
  margin-top: 60px;
  cursor: pointer;
  transition: 2s;
}
.caja-primer-item img:hover {
  transform: translateX(20px);
}

.caja img {
  filter: drop-shadow(4px 6px 12px #000000 0, 0, 0);
  transition: all 300ms;
  cursor: pointer;
}
.caja img:hover {
  transform: scale(1.1);
}

/* Estilos para la sección de artículos */
.articulos {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  transition: all 300ms;
}

/* Estilos para los párrafos dentro de los artículos */
.parrafo__articulos {
  padding: 20px;
}

/* Estilos para los artículos */
.articulos .article1,
.article2,
.article3,
.article4,
.article5,
.article6,
.article7 {
  border: solid 3px rgb(21, 15, 32);
  width: 305px;
  height: 450px;
  text-align: center;
  background-color: #442c6c;
  margin: 90px;
  filter: drop-shadow(4px 6px 12px #000000);
}

/* Estilos al pasar el mouse sobre las imágenes de los artículos */
.articulos img {
  margin-bottom: 20px;
  transition: 1s;
}
.articulos img:hover {
  opacity: 1;
  transform: translateX(3.2px);
}

/* Estilos para los botones de compra */
.botonComprarAc {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
}

/* Estilos para los títulos de las secciones de accesorios */
.h2-de-accesoriosProductos {
  padding: 30px;
  font-size: 40px;
  font-weight: 900;
  border: solid 4px #ffffff;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.articulos a {
  font-weight: 900;
  font-family: "Oswald", sans-serif;
}

/*edicion de incio de sesion pagina secundaria*/
/* Estilos para el fondo de la sección de inicio de sesión */
.inicioSesion {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 2%, rgb(8, 130, 156) 49%, rgb(2, 0, 36) 99%);
}

/* Estilos para el fondo */
.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Estilos para las imágenes dentro de las columnas */
.col img {
  width: 50px;
}

/* Estilos para el texto centrado */
.text-center h3 {
  font-family: "Kanit", sans-serif;
}

/* Estilos para los botones */
.btn {
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
}
.btn:hover {
  background-color: #442c6c;
}

/* Estilos para el botón de inicio de sesión */
.btn__iniciar {
  color: #000000;
  border-radius: 20px;
  margin-top: 15px;
  background-color: #ffffff;
  padding: 7px;
}
.btn__iniciar:hover {
  background-color: #442c6c;
}

/* Estilos para la división al formulario */
.divider-content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #999;
}

.divider {
  margin: 2rem 0;
}

/* Estilos para el enlace "olvidaste tu contraseña" */
.input-group a:hover {
  text-decoration: underline;
}

/**footer**/
/** Estilos para el pie de página **/
footer {
  background: rgb(36, 6, 68);
  background: linear-gradient(90deg, rgb(36, 6, 68) 4%, rgb(186, 65, 182) 36%, rgb(186, 65, 182) 44%, rgb(59, 30, 209) 69%, rgb(51, 23, 127) 81%, rgb(36, 6, 68) 89%);
  padding-top: 50px;
}

/* Contenedor del pie de página */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px;
}

/* Contenido del pie de página - Logotipo */
.footer-content1 img {
  margin-top: -50px;
}
.footer-content1 p {
  margin-top: -30px;
}

/* Contenido del pie de página - Texto */
/* Estilos para las imágenes en el pie de página */
.container img {
  width: 250px;
}
.container h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

/* Estilos para los títulos en el pie de página */
h4 {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

/* Estilos para las listas en el pie de página */
.container li {
  list-style: none;
}
.container a {
  text-decoration: none;
  color: #ffffff;
}
.container p {
  color: #ffffff;
}

/* Estilos para los enlaces en el pie de página */
/* Estilos para los párrafos en el pie de página */
/* Barra inferior del pie de página para derechos de autor */
.bottom-bar {
  text-align: center;
  padding-bottom: 30px;
  background-color: #413f3f;
  color: #ffffff;
  padding: 20px;
}

/**responsive de paginas*/
/**responsive monitores*/
@media only screen and (max-width: 1367px) {
  /*pagina principal*/
  /* Ajustes para la barra de navegación */
  nav {
    width: auto;
    align-items: center;
  }
  /* Ajustes para el logotipo en el encabezado */
  .logoIniciar img {
    width: 50px;
    height: 50px;
    max-width: 100px;
    margin-right: 80px;
    display: block;
  }
  /* Ajustes para los títulos en el carrusel */
  .carousel-caption h2,
  .carousel-caption p {
    margin-bottom: 160px;
  }
  /* Ajustes para los párrafos en el carrusel */
  /* Ajustes para las imágenes de contacto */
  .contactos img {
    width: 50px;
    height: 50px;
    margin-left: 80px;
  }
  /* Ajustes para el contenido */
  .contenido {
    padding: 10px;
  }
  /* media query para la página secundaria "Accesorios" */
  .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
    margin-top: 140px;
    left: 51%;
    transform: translateX(-50%);
  }
  .presentacionDeAccesoriosHero img,
  .presentacionDeAccesoriosHero__gaming img {
    max-width: 100%;
  }
  /* Media Query para la página secundaria "Gaming" */
  .articulos {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    transition: all 300ms;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1251px) {
  /* Ajustes para el logotipo en el encabezado */
  .logoIniciar img {
    width: 50px;
    height: 50px;
    max-width: 100px;
    margin-right: 80px;
    display: block;
  }
  /* Ajustes para los títulos en el carrusel */
  .carousel-caption h2,
  .carousel-caption p {
    margin-bottom: 160px;
  }
  /* Ajustes para los párrafos en el carrusel */
  /* Ajustes para las imágenes de contacto */
  .contactos img {
    width: 50px;
    height: 50px;
    margin-left: 80px;
  }
  /* Ajustes para el contenido */
  .contenido {
    padding: 10px;
  }
  /* media query para la página secundaria "Accesorios" */
  .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
    margin-top: 140px;
    left: 51%;
    transform: translateX(-50%);
  }
  .presentacionDeAccesoriosHero img,
  .presentacionDeAccesoriosHero__gaming img {
    max-width: 100%;
  }
  /* Media Query para la página secundaria "Gaming" */
  .articulos {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    transition: all 300ms;
    flex-direction: column;
    align-items: center;
  }
}
/*medida para laptops*/
@media only screen and (max-width: 1223px) {
  /*pagina principal*/
  /* Ajustes para el logotipo en el encabezado */
  .logoIniciar img {
    margin-right: 160px;
  }
  /*edicion responsive de tarjetas*/
  .presentacionProductos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 25vw;
    justify-content: center;
    align-items: center;
  }
  .tarjeta1 {
    width: 45vw;
    height: 45vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-left: 7vw;
  }
  .tarjeta1 a {
    font-size: 55px;
    margin-right: 15vw;
  }
  .tarjeta2 {
    width: 35vw;
    height: 35vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-right: -5vw;
  }
  .tarjeta2 a {
    font-size: 40px;
    margin-right: 10vw;
  }
  .tarjeta3 {
    width: 35vw;
    height: 35vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-right: -5vw;
  }
  .tarjeta3 a {
    font-size: 35px;
    margin-right: 23vw;
  }
  /* Ajustes para las imágenes de contacto */
  .contactos img {
    margin-left: 160px;
  }
  /* Ajustes para el contenido */
  .contenido {
    padding: 10px;
  }
  /* Ajustes para la sección 2 pagina principal */
  .section2 {
    background-size: auto;
    /* Restaura los márgenes en los lados */
    margin-left: 5vw;
    margin-right: 5vw;
  }
  /* Ajustes para los títulos en el carrusel */
  .carousel-caption h2,
  .carousel-caption p {
    margin-bottom: 170px;
  }
  /* Ajustes para los párrafos en el carrusel */
  /* Ajustes para la presentación de productos */
  .presentacionProductos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  .presentacionProductos section {
    margin-bottom: 40px;
  }
  .presentacionProductos img {
    margin-top: 50px;
    flex: 1;
    /* Las imágenes ocupan igualmente el espacio horizontalmente */
  }
  /* Ajustes para las imágenes en la presentación de productos */
  /* media query para la página secundaria "Accesorios" */
  .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
    margin-top: 140px;
    left: 52%;
    transform: translateX(-50%);
  }
  .presentacionDeAccesoriosHero img,
  .presentacionDeAccesoriosHero__gaming img {
    max-width: 100%;
  }
  /* Media Query para la página secundaria "Gaming" */
  /*articulos*/
  .articulos {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    transition: all 300ms;
    flex-direction: column;
    align-items: center;
  }
}
/**media query para laptops*/
@media only screen and (max-width: 958px) {
  .logoIniciar img {
    margin-right: 280px;
  }
  .contactos img {
    margin-left: 280px;
  }
  /*media query responsive para pagina principal*/
  .section2 {
    background-size: auto;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  /*edicion responsive de tarjetas*/
  .presentacionProductos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 25vw;
    justify-content: center;
    align-items: center;
  }
  .tarjeta1 {
    width: 90vw;
    height: 90vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-left: 7vw;
  }
  .tarjeta1 a {
    font-size: 55px;
    margin-right: 32vw;
  }
  .tarjeta2 {
    width: 80vw;
    height: 80vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-right: -5vw;
  }
  .tarjeta2 a {
    font-size: 40px;
    margin-right: 24vw;
  }
  .tarjeta3 {
    width: 80vw;
    height: 80vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-right: -5vw;
  }
  .tarjeta3 a {
    font-size: 40px;
    margin-right: 26vw;
  }
  .textoSobreImagen h2 {
    margin-left: 5vw;
    margin-right: 1vw;
  }
  .textoSobreImagen p {
    line-height: 2.7;
  }
  .presentacionProductos section {
    margin-bottom: 40px;
  }
  .presentacionProductos img {
    flex: 1;
    /* Las imágenes ocupan igualmente el espacio horizontalmente */
  }
  body {
    background-size: contain;
  }
  /*media query responsive para pagina secundaria accesorios*/
  .presentacionDeAccesoriosHero {
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero img {
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
    margin-top: 120px;
    left: 52%;
    transform: translateX(-50%);
  }
  /*media de paginas secundaria gaming*/
  .presentacionDeAccesoriosHero__gaming {
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero__gaming img {
    max-width: 100%;
  }
  /*media de paginas secundaria laptops */
  .articulos {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    transition: all 300ms;
    flex-direction: column;
    align-items: center;
  }
  /** Estilos para la sección de hero de la página secundaria Nosotros */
  .nosotrosHeroSection {
    background-size: cover;
    /* Cambiar el tamaño de la imagen para adaptarse a pantallas más pequeñas */
    height: auto;
    /* Ajustar la altura automáticamente */
  }
  .nosotrosHeroSection h1 {
    margin-top: 40vh;
    font-size: 40px;
  }
  .nosotrosHeroSection h2 {
    font-size: 50px;
  }
  /* Estilos para el título principal dentro de la sección de hero */
  /* Estilos para la sección acerca de nosotros */
  .acercaDeNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .acercaDeNosotros img {
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .acercaDeNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imágenes dentro de la sección Acerca de nosotros */
  /* Estilos para los párrafos dentro de la sección acerca de nosotros */
  .masSobreNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .masSobreNosotros img {
    /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .masSobreNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imagenes dentro de la seccion mas sobre nosotros */
  /* Estilos para el parrafo dentro de la seccion mas sobre nosotros */
  /* Estilos para mapa dentro de la sección locales */
  .map {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-right: -50vw;
  }
}
/**responsive para tablets*/
@media only screen and (max-width: 870px) {
  /*media query responsive para pagina principal*/
  /* Ajustes para la sección 2 */
  .section2 {
    background-size: auto;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  /* Ajustes para el logotipo en el encabezado */
  .logoIniciar img {
    margin-right: 280px;
  }
  /* Ajustes para los títulos en el carrusel */
  .carousel-caption h2 {
    margin-bottom: -1px;
    font-size: 20px;
  }
  .carousel-caption p {
    font-size: 15px;
  }
  /* Ajustes para los párrafos en el carrusel */
  /* Ajustes para la presentación de productos */
  .presentacionProductos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  /* Ajustes para los títulos sobre imágenes */
  .textoSobreImagen h2 {
    margin-left: 5vw;
    margin-right: 1vw;
  }
  .textoSobreImagen p {
    line-height: 2.7;
  }
  /* Ajustes para los párrafos sobre imágenes */
  /* Ajustes para las secciones en la presentación de productos */
  .presentacionProductos section {
    margin-bottom: 40px;
  }
  .presentacionProductos img {
    flex: 1;
    /* Las imágenes ocupan igualmente el espacio horizontalmente */
  }
  /* Ajustes para las imágenes en la presentación de productos */
  body {
    background-size: contain;
  }
  /* Media Query para la página secundaria "Accesorios" */
  .presentacionDeAccesoriosHero {
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
    margin-top: 120px;
    left: 52%;
    transform: translateX(-50%);
  }
  .presentacionDeAccesoriosHero img {
    max-width: 100%;
  }
  /* Media Query para la página secundaria "Gaming" */
  .presentacionDeAccesoriosHero__gaming {
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero__gaming img {
    max-width: 100%;
  }
  /*media de paginas secundaria nosotros */
}
@media only screen and (max-width: 868px) {
  /*media query responsive para pagina principal*/
  /* Ajustes para la sección 2 */
  .section2 {
    background-size: auto;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  /* Ajustes para los títulos en el carrusel */
  .carousel-caption h2 {
    margin-bottom: -1px;
    font-size: 20px;
  }
  .carousel-caption p {
    font-size: 15px;
  }
  /* Ajustes para los párrafos en el carrusel */
  /* Ajustes para la presentación de productos */
  .presentacionProductos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  /* Ajustes para los títulos sobre imágenes */
  .textoSobreImagen h2 {
    margin-left: 4.5vw;
  }
  .textoSobreImagen p {
    line-height: 2.3;
  }
  /* Ajustes para los párrafos sobre imágenes */
  /* Ajustes para las secciones en la presentación de productos */
  .presentacionProductos section {
    margin-bottom: 40px;
  }
  .presentacionProductos img {
    flex: 1;
    /* Las imágenes ocupan igualmente el espacio horizontalmente */
  }
  /* Ajustes para las imágenes en la presentación de productos */
  /* Media Query para la página secundaria "Accesorios" */
  .presentacionDeAccesoriosHero {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
    margin-top: 170px;
    left: 52%;
    transform: translateX(-50%);
  }
  /* Media Query para la página secundaria "Gaming" */
  .presentacionDeAccesoriosHero__gaming {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero__gaming img {
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero__gaming__textoSobreImagen {
    font-weight: 600;
    margin-top: 200px;
    left: 52%;
    transform: translateX(-50%);
  }
  /** Estilos para la sección de hero de la página secundaria Nosotros */
  .nosotrosHeroSection {
    background-size: cover;
    /* Cambiar el tamaño de la imagen para adaptarse a pantallas más pequeñas */
    height: auto;
    /* Ajustar la altura automáticamente */
  }
  .nosotrosHeroSection h1 {
    margin-top: 40vh;
    font-size: 40px;
  }
  .nosotrosHeroSection h2 {
    font-size: 50px;
  }
  /* Estilos para el título principal dentro de la sección de hero */
  /* Estilos para la sección acerca de nosotros */
  .acercaDeNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .acercaDeNosotros img {
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .acercaDeNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imágenes dentro de la sección Acerca de nosotros */
  /* Estilos para los párrafos dentro de la sección acerca de nosotros */
  .masSobreNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .masSobreNosotros img {
    /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .masSobreNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imagenes dentro de la seccion mas sobre nosotros */
  /* Estilos para el parrafo dentro de la seccion mas sobre nosotros */
  /* Estilos para mapa dentro de la sección locales */
  .map {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-right: -50vw;
  }
}
@media only screen and (max-width: 720px) {
  /*menu hamburguesa*/
  /* Ajustes para el menú hamburguesa */
  .nav-bar {
    flex-direction: column;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    /* Ajusta esto para que el menú aparezca debajo de la barra de navegación */
    left: 0;
    width: 100%;
    background-color: #ae1c98;
    /* Fondo para el menú desplegable */
    z-index: 1000;
    /* Asegura que el menú esté por encima de otros elementos */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  /*/menu hamburguesa*/
  /* Ajustes para la sección 2 */
  .section2 {
    background-size: auto;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  /* Ajustes para los títulos en el carrusel */
  .carousel-caption h2 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .carousel-caption p {
    font-size: 14px;
  }
  /* Ajustes para los párrafos en el carrusel */
  /* Ajustes para la presentación de productos */
  .presentacionProductos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  /* Ajustes para los títulos sobre imágenes */
  .textoSobreImagen h2 {
    margin-left: 5vw;
    margin-right: 1vw;
    font-size: 35px;
  }
  .textoSobreImagen p {
    line-height: 3;
    font-size: 40px;
  }
  /* Ajustes para los párrafos sobre imágenes */
  /* Ajustes para las secciones en la presentación de productos */
  .presentacionProductos section {
    margin-bottom: 40px;
  }
  .presentacionProductos img {
    flex: 1;
    /* Las imágenes ocupan igualmente el espacio horizontalmente */
  }
  /* Ajustes para las imágenes en la presentación de productos */
  /*media query pagina secundaria accesorios*/
  .presentacionDeAccesoriosHero {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
    margin-top: 250px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* Media Query para la página secundaria "Gaming" */
  .presentacionDeAccesoriosHero__gaming {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero__gaming img {
    max-width: 100%;
  }
  /* Ajustes para las imágenes en "Gaming" */
  /* Ajustes para los títulos sobre imágenes en "Gaming" */
  .presentacionDeAccesoriosHero__gaming__textoSobreImagen {
    font-weight: 600;
    margin-top: 200px;
    left: 52%;
    transform: translateX(-50%);
  }
  /*media de paginas secundaria laptops */
  /** Estilos para la sección de hero de la página secundaria Nosotros */
  .nosotrosHeroSection {
    background-size: cover;
    /* Cambiar el tamaño de la imagen para adaptarse a pantallas más pequeñas */
    height: auto;
    /* Ajustar la altura automáticamente */
  }
  .nosotrosHeroSection h1 {
    margin-top: 40vh;
    font-size: 20px;
  }
  .nosotrosHeroSection h2 {
    font-size: 35px;
  }
  /* Estilos para el título principal dentro de la sección de hero */
  /* Estilos para la sección acerca de nosotros */
  .acercaDeNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .acercaDeNosotros img {
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .acercaDeNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imágenes dentro de la sección Acerca de nosotros */
  /* Estilos para los párrafos dentro de la sección acerca de nosotros */
  .masSobreNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .masSobreNosotros img {
    /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .masSobreNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imagenes dentro de la seccion mas sobre nosotros */
  /* Estilos para el parrafo dentro de la seccion mas sobre nosotros */
  /* Estilos para mapa dentro de la sección locales */
  .map {
    position: relative;
    width: 90%;
    height: 400px;
    overflow: hidden;
    margin-right: -50vw;
  }
  /*footer*/
  .footer-content {
    width: 100%;
  }
  .footer-content1 img {
    max-width: 100px;
  }
}
/** Media Query para dispositivos móviles pequeños **/
@media only screen and (max-width: 550px) {
  /*menu hamburguesa*/
  /* Ajustes para el menú hamburguesa */
  nav {
    margin-right: 6.5vw;
    text-align: center;
    justify-content: center;
  }
  .nav-bar {
    flex-direction: column;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    /* Ajusta esto para que el menú aparezca debajo de la barra de navegación */
    left: 0;
    width: 100%;
    background-color: #ae1c98;
    /* Fondo para el menú desplegable */
    z-index: 1000;
    /* Asegura que el menú esté por encima de otros elementos */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  /*/menu hamburguesa*/
  /* Ajustes para la sección 2 pagina principal */
  .section2 {
    background-size: auto;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  /* Ajustes para la presentación de productos */
  .presentacionProductos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /* Ajustes para las tarjetas en la presentación de productos */
  .tarjeta1,
  .tarjeta2,
  .tarjeta3 {
    margin: 0 auto;
    max-width: 350px;
  }
  /* Ajustes para las secciones en la presentación de productos */
  .presentacionProductos section {
    margin-bottom: 40px;
  }
  .presentacionProductos img {
    flex: 1;
    /* Las imágenes ocupan igualmente el espacio horizontalmente */
  }
  /* Ajustes para las imágenes en la presentación de productos */
  /* Ajustes para los títulos sobre imágenes */
  .textoSobreImagen h2 {
    margin-left: 5vw;
    margin-right: 1vw;
    font-size: 30px;
  }
  .textoSobreImagen p {
    line-height: 3;
    font-size: 30px;
  }
  /* Ajustes para los párrafos sobre imágenes */
  /* Media Query para la página secundaria "Accesorios" */
  .presentacionDeAccesoriosHero {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  /* Ajustes para los títulos sobre imágenes*/
  .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
    margin-top: 280px;
    left: 50%;
    transform: translateX(-50%);
  }
  /* Media Query para página secundaria "Gaming" */
  .presentacionDeAccesoriosHero__gaming {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero__gaming img {
    max-width: 100%;
  }
  /* Ajustes para los títulos sobre imágenes en Gaming */
  .presentacionDeAccesoriosHero__gaming__textoSobreImagen {
    font-weight: 500;
    margin-top: 280px;
    left: 52%;
    transform: translateX(-50%);
  }
  /** Estilos para la sección de hero de la página secundaria Nosotros */
  .nosotrosHeroSection {
    background-size: cover;
    /* Cambiar el tamaño de la imagen para adaptarse a pantallas más pequeñas */
    height: auto;
    /* Ajustar la altura automáticamente */
  }
  .nosotrosHeroSection h1 {
    margin-top: 40vh;
    font-size: 20px;
  }
  .nosotrosHeroSection h2 {
    font-size: 35px;
  }
  /* Estilos para el título principal dentro de la sección de hero */
  /* Estilos para la sección acerca de nosotros */
  .acercaDeNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .acercaDeNosotros img {
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .acercaDeNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imágenes dentro de la sección Acerca de nosotros */
  /* Estilos para los párrafos dentro de la sección acerca de nosotros */
  .masSobreNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .masSobreNosotros img {
    /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .masSobreNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imagenes dentro de la seccion mas sobre nosotros */
  /* Estilos para el parrafo dentro de la seccion mas sobre nosotros */
  /* Estilos para mapa dentro de la sección locales */
  .map {
    position: relative;
    width: 90%;
    height: 400px;
    overflow: hidden;
    margin-right: -50vw;
  }
  /*footer*/
  .footer-content {
    width: 100%;
  }
  .footer-content1 img {
    max-width: 100px;
  }
}
@media only screen and (max-width: 480px) {
  /*menu hamburguesa*/
  /* Estilos para el menú hamburguesa */
  .nav-bar {
    flex-direction: column;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    /* Ajusta esto para que el menú aparezca debajo de la barra de navegación */
    left: 0;
    width: 100%;
    background-color: #ae1c98;
    /* Fondo para el menú desplegable */
    z-index: 1000;
    /* Asegura que el menú esté por encima de otros elementos */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  /*/menu hamburguesa*/
  /* Estilos para el contenido de la sección de texto sobre imagen */
  .textoSobreImagen h2 {
    margin-left: 5vw;
    margin-right: 1vw;
    font-size: 30px;
  }
  .textoSobreImagen p {
    line-height: 3;
    font-size: 30px;
  }
  /*edicion responsive de tarjetas para dispositivos pequeños*/
  .presentacionProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -4vw;
  }
  .tarjeta1 {
    width: 110vw;
    height: 110vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
  }
  .tarjeta1 a {
    font-size: 40px;
  }
  .tarjeta2 {
    width: 100vw;
    height: 100vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-left: 8vw;
  }
  .tarjeta2 a {
    font-size: 30px;
    margin-right: 3vw;
  }
  .tarjeta3 {
    width: 100vw;
    height: 100vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-left: 8vw;
  }
  .tarjeta3 a {
    font-size: 30px;
    margin-right: 6vw;
  }
  /*/edicion responsive de tarjetas para dispositivos pequeños/*/
  /* Media query para la página secundaria de accesorios */
  .presentacionDeAccesoriosHero {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .caja-primer-item {
    width: 93%;
  }
  /* Media query para la página secundaria de gaming */
  .presentacionDeAccesoriosHero__gaming {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero__gaming img {
    max-width: 100%;
  }
  .presentacionDeAccesoriosHero__gaming__textoSobreImagen {
    font-weight: 500;
    margin-top: 280px;
    left: 52%;
    transform: translateX(-50%);
  }
  /** Estilos para la sección de hero de la página secundaria Nosotros */
  .nosotrosHeroSection {
    background-size: cover;
    /* Cambiar el tamaño de la imagen para adaptarse a pantallas más pequeñas */
    height: auto;
    /* Ajustar la altura automáticamente */
  }
  .nosotrosHeroSection h1 {
    margin-top: 40vh;
    font-size: 20px;
  }
  .nosotrosHeroSection h2 {
    font-size: 35px;
  }
  /* Estilos para el título principal dentro de la sección de hero */
  /* Estilos para la sección acerca de nosotros */
  .acercaDeNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .acercaDeNosotros img {
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .acercaDeNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imágenes dentro de la sección Acerca de nosotros */
  /* Estilos para los párrafos dentro de la sección acerca de nosotros */
  .masSobreNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .masSobreNosotros img {
    /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .masSobreNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imagenes dentro de la seccion mas sobre nosotros */
  /* Estilos para el parrafo dentro de la seccion mas sobre nosotros */
  /* Estilos para mapa dentro de la sección locales */
  .map {
    position: relative;
    width: 90%;
    height: 400px;
    overflow: hidden;
    margin-right: -50vw;
  }
  /*footer*/
  /* Establece la disposición de los elementos del footer en columna */
  .container {
    flex-direction: column;
    align-items: center;
  }
  /* Estilos para el contenido del footer */
  .footer-content,
  .footer-content1,
  .footer-content h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  /* Estilos para la imagen en el contenido del footer */
  .footer-content1 img {
    width: 150px;
  }
  /*/footer*/
}
@media (max-width: 450px) {
  .nav-bar {
    flex-direction: column;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    /* Ajusta esto para que el menú aparezca debajo de la barra de navegación */
    left: 0;
    width: 100%;
    background-color: #ae1c98;
    /* Fondo para el menú desplegable */
    z-index: 1000;
    /* Asegura que el menú esté por encima de otros elementos */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  /*edicion responsive de atrjetas para dispositivos pequeños*/
  .presentacionProductos {
    display: flex;
    margin-left: -2vw;
    justify-content: center;
    align-items: center;
  }
  .tarjeta1 {
    width: 100vw;
    height: 100vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-left: 7vw;
  }
  .tarjeta1 a {
    font-size: 35px;
    margin-right: 32vw;
  }
  .tarjeta2 {
    width: 90vw;
    height: 90vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
  }
  .tarjeta2 a {
    font-size: 32px;
    margin-right: 30vw;
  }
  .tarjeta3 {
    width: 90vw;
    height: 90vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
  }
  .tarjeta3 a {
    font-size: 26px;
    margin-right: 30vw;
  }
  /*/edicion responsive de atrjetas para dispositivos pequeños/*/
  /*responsive para pagina secundaria gaming*/
  .caja h2 {
    margin-top: 110px;
  }
  .caja-primer-item {
    width: 93%;
  }
  /** Estilos para la sección de hero de la página secundaria Nosotros */
  .nosotrosHeroSection {
    background-size: cover;
    /* Cambiar el tamaño de la imagen para adaptarse a pantallas más pequeñas */
    height: auto;
    /* Ajustar la altura automáticamente */
  }
  .nosotrosHeroSection h1 {
    margin-top: 40vh;
    font-size: 20px;
  }
  .nosotrosHeroSection h2 {
    font-size: 35px;
  }
  /* Estilos para el título principal dentro de la sección de hero */
  /* Estilos para la sección acerca de nosotros */
  .acercaDeNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .acercaDeNosotros img {
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .acercaDeNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imágenes dentro de la sección Acerca de nosotros */
  /* Estilos para los párrafos dentro de la sección acerca de nosotros */
  .masSobreNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .masSobreNosotros img {
    /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 5vw;
  }
  .masSobreNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 10vw;
    font-size: 15px;
  }
  /* Estilos para las imagenes dentro de la seccion mas sobre nosotros */
  /* Estilos para el parrafo dentro de la seccion mas sobre nosotros */
  /* Estilos para mapa dentro de la sección locales */
  .map {
    position: relative;
    width: 90%;
    height: 400px;
    overflow: hidden;
    margin-right: -50vw;
  }
  /*footer*/
  /* Establece la disposición de los elementos del footer en columna */
  .container {
    flex-direction: column;
    align-items: center;
  }
  /* Estilos para el contenido del footer */
  .footer-content,
  .footer-content1,
  .footer-content h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  /* Estilos para la imagen en el contenido del footer */
  .footer-content1 img {
    width: 150px;
  }
  /*/footer*/
}
@media (max-width: 350px) {
  .nav-bar {
    flex-direction: column;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    /* Ajusta esto para que el menú aparezca debajo de la barra de navegación */
    left: 0;
    width: 100%;
    background-color: #ae1c98;
    /* Fondo para el menú desplegable */
    z-index: 1000;
    /* Asegura que el menú esté por encima de otros elementos */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  /*edicion responsive de atrjetas para dispositivos pequeños*/
  .presentacionProductos {
    display: flex;
    margin-left: -2vw;
    justify-content: center;
    align-items: center;
  }
  .tarjeta1 {
    width: 100vw;
    height: 100vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-left: 7vw;
  }
  .tarjeta1 a {
    font-size: 35px;
    margin-right: 32vw;
  }
  .tarjeta2 {
    width: 90vw;
    height: 90vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
  }
  .tarjeta2 a {
    font-size: 32px;
    margin-right: 30vw;
  }
  .tarjeta3 {
    width: 90vw;
    height: 90vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
  }
  .tarjeta3 a {
    font-size: 26px;
    margin-right: 30vw;
  }
  /*/edicion responsive de atrjetas para dispositivos pequeños/*/
  /*responsive para pagina secundaria gaming*/
  .caja h2 {
    margin-top: 110px;
  }
  .caja-primer-item {
    width: 93%;
  }
  /** Estilos para la sección de hero de la página secundaria Nosotros */
  .nosotrosHeroSection {
    background-size: cover;
    /* Cambiar el tamaño de la imagen para adaptarse a pantallas más pequeñas */
    height: auto;
    /* Ajustar la altura automáticamente */
  }
  .nosotrosHeroSection h1 {
    margin-top: 40vh;
    font-size: 20px;
  }
  .nosotrosHeroSection h2 {
    font-size: 35px;
  }
  /* Estilos para el título principal dentro de la sección de hero */
  /* Estilos para la sección acerca de nosotros */
  .acercaDeNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .acercaDeNosotros img {
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 25vw;
  }
  .acercaDeNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 32vw;
    font-size: 11px;
  }
  /* Estilos para las imágenes dentro de la sección Acerca de nosotros */
  /* Estilos para los párrafos dentro de la sección acerca de nosotros */
  .masSobreNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .masSobreNosotros img {
    /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 25vw;
  }
  .masSobreNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 30vw;
    font-size: 11px;
  }
  /* Estilos para las imagenes dentro de la seccion mas sobre nosotros */
  /* Estilos para el parrafo dentro de la seccion mas sobre nosotros */
  /* Estilos para mapa dentro de la sección locales */
  .map {
    position: relative;
    width: 90%;
    height: 400px;
    overflow: hidden;
    margin-right: -50vw;
  }
  /*footer*/
  /* Establece la disposición de los elementos del footer en columna */
  .container {
    flex-direction: column;
    align-items: center;
  }
  /* Estilos para el contenido del footer */
  .footer-content,
  .footer-content1,
  .footer-content h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  /* Estilos para la imagen en el contenido del footer */
  .footer-content1 img {
    width: 150px;
  }
  /*/footer*/
}
@media (max-width: 320px) {
  .nav-bar {
    flex-direction: column;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    /* Ajusta esto para que el menú aparezca debajo de la barra de navegación */
    left: 0;
    width: 100%;
    background-color: #ae1c98;
    /* Fondo para el menú desplegable */
    z-index: 1000;
    /* Asegura que el menú esté por encima de otros elementos */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  /*edicion responsive de atrjetas para dispositivos pequeños*/
  .presentacionProductos {
    display: flex;
    margin-left: -2vw;
    justify-content: center;
    align-items: center;
  }
  .tarjeta1 {
    width: 100vw;
    height: 100vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
    margin-left: 7vw;
  }
  .tarjeta1 a {
    font-size: 35px;
    margin-right: 32vw;
  }
  .tarjeta2 {
    width: 90vw;
    height: 90vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
  }
  .tarjeta2 a {
    font-size: 32px;
    margin-right: 30vw;
  }
  .tarjeta3 {
    width: 90vw;
    height: 90vw;
    background-size: contain;
    /* Asegura que la imagen de fondo no se salga */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    overflow: hidden;
  }
  .tarjeta3 a {
    font-size: 26px;
    margin-right: 30vw;
  }
  /*responsive para pagina secundaria gaming*/
  .caja h2 {
    margin-top: 110px;
  }
  .caja-primer-item {
    width: 93%;
  }
  /**responsive para pagina secundaria nosotros*/
  /** Estilos para la sección de hero de la página secundaria Nosotros */
  .nosotrosHeroSection {
    background-size: cover;
    /* Cambiar el tamaño de la imagen para adaptarse a pantallas más pequeñas */
    height: auto;
    /* Ajustar la altura automáticamente */
  }
  .nosotrosHeroSection h1 {
    margin-top: 40vh;
    font-size: 20px;
  }
  .nosotrosHeroSection h2 {
    font-size: 35px;
  }
  /* Estilos para el título principal dentro de la sección de hero */
  /* Estilos para la sección acerca de nosotros */
  .acercaDeNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .acercaDeNosotros img {
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 25vw;
  }
  .acercaDeNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 32vw;
    font-size: 11px;
  }
  /* Estilos para las imágenes dentro de la sección Acerca de nosotros */
  /* Estilos para los párrafos dentro de la sección acerca de nosotros */
  .masSobreNosotros {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .masSobreNosotros img {
    /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
    min-width: 77vw;
    max-width: 100%;
    height: auto;
    margin-right: 25vw;
  }
  .masSobreNosotros p {
    min-width: 70vw;
    max-width: 100%;
    height: auto;
    margin-right: 30vw;
    font-size: 11px;
  }
  /* Estilos para las imagenes dentro de la seccion mas sobre nosotros */
  /* Estilos para el parrafo dentro de la seccion mas sobre nosotros */
  /* Estilos para mapa dentro de la sección locales */
  .map {
    position: relative;
    width: 90%;
    height: 400px;
    overflow: hidden;
    margin-right: -50vw;
  }
  /*footer*/
  /* Establece la disposición de los elementos del footer en columna */
  .container {
    flex-direction: column;
    align-items: center;
  }
  /* Estilos para el contenido del footer */
  .footer-content,
  .footer-content1,
  .footer-content h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  /* Estilos para la imagen en el contenido del footer */
  .footer-content1 img {
    width: 150px;
  }
  /*/footer*/
}

/*# sourceMappingURL=style.css.map */
