/**responsive de paginas*/
/**responsive monitores*/

@media only screen and (max-width: 1367px) {
    /*pagina principal*/
    /* Ajustes para la barra de navegación */

    nav {
        width: auto;
        align-items: center;
    }

    /* Ajustes para el logotipo en el encabezado */

    .logoIniciar img {
        width: 50px;
        height: 50px;
        max-width: 100px;
        margin-right: 80px;
        display: block;
    }

    /* Ajustes para los títulos en el carrusel */

    .carousel-caption {

        h2,
        p {
            margin-bottom: 160px;
        }
    }

    /* Ajustes para los párrafos en el carrusel */

    /* Ajustes para las imágenes de contacto */

    .contactos img {
        width: 50px;
        height: 50px;
        margin-left: 80px;
    }

    /* Ajustes para el contenido */

    .contenido {
        padding: 10px;
    }

    /* media query para la página secundaria "Accesorios" */

    .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
        margin-top: 140px;
        left: 51%;
        transform: translateX(-50%);
    }

    .presentacionDeAccesoriosHero img,
    .presentacionDeAccesoriosHero__gaming img {
        max-width: 100%;
    }

    /* Media Query para la página secundaria "Gaming" */

    .articulos {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        transition: all 300ms;
        flex-direction: column;
        align-items: center;
    }

      /*responsive pagina secundaria nosotros*/
      /* Estilos para la sección acerca de nosotros */

      .acercaDeNosotros {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;

        img {
            min-width: 77vw;
            max-width: 100%;
            height: auto;
            margin-right: 5vw;
        }

        p {
            min-width: 70vw;
            max-width: 100%;
            height: auto;
            margin-right: 10vw;
            font-size: 30px;
        }
    }

    /* Estilos para los párrafos dentro de la sección acerca de nosotros */

    .masSobreNosotros {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;

        img {
            /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
            min-width: 77vw;
            max-width: 100%;
            height: auto;
            margin-right: 5vw;
        }

        p {
            min-width: 70vw;
            max-width: 100%;
            height: auto;
            margin-right: 10vw;
            font-size: 30px;
        }
    }
}



@media only screen and (max-width: 1251px) {
    /* Ajustes para el logotipo en el encabezado */

    .logoIniciar img {
        width: 50px;
        height: 50px;
        max-width: 100px;
        margin-right: 80px;
        display: block;
    }

    /* Ajustes para los títulos en el carrusel */

    .carousel-caption {

        h2,
        p {
            margin-bottom: 160px;
        }
    }

    /* Ajustes para los párrafos en el carrusel */

    /* Ajustes para las imágenes de contacto */

    .contactos img {
        width: 50px;
        height: 50px;
        margin-left: 80px;
    }

    /* Ajustes para el contenido */

    .contenido {
        padding: 10px;
    }

    /* media query para la página secundaria "Accesorios" */

    .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
        margin-top: 140px;
        left: 51%;
        transform: translateX(-50%);
    }

    .presentacionDeAccesoriosHero img,
    .presentacionDeAccesoriosHero__gaming img {
        max-width: 100%;
    }

    /* Media Query para la página secundaria "Gaming" */

    .articulos {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        transition: all 300ms;
        flex-direction: column;
        align-items: center;
    }

      /*responsive pagina secundaria nosotros*/
      /* Estilos para la sección acerca de nosotros */

      .acercaDeNosotros {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;

        img {
            min-width: 77vw;
            max-width: 100%;
            height: auto;
            margin-right: 5vw;
        }

        p {
            min-width: 70vw;
            max-width: 100%;
            height: auto;
            margin-right: 10vw;
            font-size: 30px;
        }
    }

    /* Estilos para los párrafos dentro de la sección acerca de nosotros */

    .masSobreNosotros {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;

        img {
            /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
            min-width: 77vw;
            max-width: 100%;
            height: auto;
            margin-right: 5vw;
        }

        p {
            min-width: 70vw;
            max-width: 100%;
            height: auto;
            margin-right: 10vw;
            font-size: 30px;
        }
    }
}

/*medida para laptops*/
@media only screen and (max-width: 1223px) {
    /*pagina principal*/
    /* Ajustes para el logotipo en el encabezado */

    .logoIniciar img {
        margin-right: 160px;
    }

    /*edicion responsive de tarjetas*/

    .presentacionProductos {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 25vw;
        justify-content: center;
        align-items: center;
    }

    .tarjeta1 {
        width: 45vw;
        height: 45vw;
        background-size: contain;

        /* Asegura que la imagen de fondo no se salga */
        background-repeat: no-repeat;

        /* Evita que la imagen se repita */
        overflow: hidden;
        margin-left: 7vw;

        a {
            font-size: 55px;
            margin-right: 15vw;
        }
    }

    .tarjeta2 {
        width: 35vw;
        height: 35vw;
        background-size: contain;

        /* Asegura que la imagen de fondo no se salga */
        background-repeat: no-repeat;

        /* Evita que la imagen se repita */
        overflow: hidden;
        margin-right: -5vw;

        a {
            font-size: 40px;
            margin-right: 10vw;
        }
    }

    .tarjeta3 {
        width: 35vw;
        height: 35vw;
        background-size: contain;

        /* Asegura que la imagen de fondo no se salga */
        background-repeat: no-repeat;

        /* Evita que la imagen se repita */
        overflow: hidden;
        margin-right: -5vw;

        a {
            font-size: 35px;
            margin-right: 23vw;
        }
    }

    /* Ajustes para las imágenes de contacto */

    .contactos img {
        margin-left: 160px;
    }

    /* Ajustes para el contenido */

    .contenido {
        padding: 10px;
    }

    /* Ajustes para la sección 2 pagina principal */

    .section2 {
        background-size: auto;

        /* Restaura los márgenes en los lados */
        margin-left: 5vw;
        margin-right: 5vw;
    }

    /* Ajustes para los títulos en el carrusel */

    .carousel-caption {

        h2,
        p {
            margin-bottom: 170px;
        }
    }

    /* Ajustes para los párrafos en el carrusel */

    /* Ajustes para la presentación de productos */

    .presentacionProductos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 50px;

        section {
            margin-bottom: 40px;
        }

        img {
            margin-top: 50px;
            flex: 1;

            /* Las imágenes ocupan igualmente el espacio horizontalmente */
        }
    }

    /* Ajustes para las imágenes en la presentación de productos */

    /* media query para la página secundaria "Accesorios" */

    .presentacionDeAccesoriosHero__textoSobreImagen__eficacia {
        margin-top: 140px;
        left: 52%;
        transform: translateX(-50%);
    }

    .presentacionDeAccesoriosHero img,
    .presentacionDeAccesoriosHero__gaming img {
        max-width: 100%;
    }

    /* Media Query para la página secundaria "Gaming" */

    /*articulos*/

    .articulos {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        transition: all 300ms;
        flex-direction: column;
        align-items: center;
    }

        /*responsive pagina secundaria nosotros*/
      /* Estilos para la sección acerca de nosotros */

    .acercaDeNosotros {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;

        img {
            min-width: 77vw;
            max-width: 100%;
            height: auto;
            margin-right: 5vw;
        }

        p {
            min-width: 70vw;
            max-width: 100%;
            height: auto;
            margin-right: 10vw;
            font-size: 30px;
        }
    }

    /* Estilos para los párrafos dentro de la sección acerca de nosotros */

    .masSobreNosotros {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        flex-direction: column;

        img {
            /* Establece un tamaño mínimo para la imagen en dispositivos moviles */
            min-width: 77vw;
            max-width: 100%;
            height: auto;
            margin-right: 5vw;
        }

        p {
            min-width: 70vw;
            max-width: 100%;
            height: auto;
            margin-right: 10vw;
            font-size: 30px;
        }
    }
}